[submodule "week1/ai110-module1tinker-playlistchaos-starter"]
	path = week1/ai110-module1tinker-playlistchaos-starter
	url = git@github.com:mprashanth27/ai110-module1tinker-playlistchaos-starter.git
[submodule "week2/ai110-module1show-gameglitchinvestigator-starter"]
	path = week2/ai110-module1show-gameglitchinvestigator-starter
	url = git@github.com:mprashanth27/ai110-module1show-gameglitchinvestigator-starter.git
[submodule "week5/ai110-module3tinker-themoodmachine-starter"]
	path = week5/ai110-module3tinker-themoodmachine-starter
	url = git@github.com:mprashanth27/ai110-module3tinker-themoodmachine-starter.git
[submodule "week4/ai110-module2show-pawpal-starter"]
	path = week4/ai110-module2show-pawpal-starter
	url = git@github.com:mprashanth27/ai110-module2show-pawpal-starter.git
[submodule "week7/ai110-module3show-musicrecommendersimulation-starter"]
	path = week7/ai110-module3show-musicrecommendersimulation-starter
	url = git@github.com:mprashanth27/ai110-module3show-musicrecommendersimulation-starter.git
